<!doctype html>
<html lang="en">

<body>

    {{> site-header }}
    {{> site-nav }}
    {{{ body }}}
    {{> site-footer }}
    {{!-- ortak olarak kullanılacak olan içeriklerin kullanılabilmesini sağlayan kod --}}

    {{!-- Footer --}}



</body>

</html>