
<header id="hero">
    <div class="container">
        <div class="intro-text">
            <h1 class="text-white">MENES || SÖZLÜK</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eum perspiciatis, temporibus ipsa
                deserunt voluptatem!lorem5 <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.

            </p>
            
        </div>
    </div>
</header>


<section id="about" class="md-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">SİZE SUNDUKLARIMIZ</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="about">
                    
                    <h3>SÖZLÜK</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    
                    <h3>DİLLER VE SOSYAL YAŞAM</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                   
                    <h3>ATASÖZÜ VE DEYİMLER</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="features" class="md-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">İÇERİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque laborum velit repellat, numquam quod!
                </p>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>GÖNDERİ 01</h5>
                            <h4>SÖZLÜK</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fugiat nobis enim aperiam numquam! Laboriosam animi distinctio alias voluptatum?</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>GÖNDERİ 02</h5>
                            <h4>ATASÖZÜ VE DEYİMLER</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione natus eius enim quidem qui, cumque quas adipisci architecto. Sint, quaerat?.</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>GÖNDERİ 03</h5>
                            <h4>SOSYAL YAŞAM</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aperiam, repellendus facere voluptatem optio sit recusandae nesciunt unde delectus quos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="features-slide" class="owl-carousel owl-theme">
                    <img src="img/human.avif" class="img-fluid">
                    <img src="img/sözlük.avif" class="img-fluid">
                    <img src="img/proverbs.avif" class="img-fluid">
                    <img src="img/sözlük.avif" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>