
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">BLOG</h1>
</section>


<section id="blog" class="md-padding">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-8">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-fluid" src="{{post.post_image}}" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fas fa-user"></i>ALPER HÜSNÜ TOPSAKAL</li>
                            <li><i class="fas fa-clock"></i>{{post.date}}</li>
                            <li><i class="fas fa-comments"></i>27</li>
                        </ul>
                        <h3>{{post.title}}</h3>
                        <p>{{post.content}}</p>
                    </div>


                    
                    <div class="blog-comments">
                        <h3>(1)YORUMLAR</h3>

                     
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">FURKAN YILDIRIM<span class="time">2 dk önce</span></h4>
                                <p>Kardeşim gönderini beğenmedim değiştir.</p>
                            </div>
                        </div>
                     

                    </div>
                   
                    <div class="reply-form">
                        <h3>YORUM</h3>
                        <form>
                            <input class="form-control mb-4" type="text" placeholder="İSİM">
                            <input class="form-control mb-4" type="email" placeholder="Email">
                            <textarea class="form-control mb-4" row="5" placeholder="YORUMUNUZ..."></textarea>

                            <button type="submit" class="main-btn">GÖNDER</button>
                        </form>
                    </div>
                   
                </div>
            </main>
         

            <aside id="aside" class="col-md-4">

                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input form-control" type="text" placeholder="Ara">
                        <button class="search-btn" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
               
                 <div class="widget">
                    <h3 class="mb-3">İÇERİKLER</h3>
                    <div class="widget-category">
                        <a href="#">DİL VE KÜLTÜR<span>(7)</span></a>
                        <a href="#">ATASÖZÜ<span>(142)</span></a>
                        <a href="#">DİLLER<span>(74)</span></a>
                        <a href="#">DEYİMLER<span>(60)</span></a>
                        <a href="#">SOSYAL HAYAT<span>(5)</span></a>
                    </div>
                </div>
                
               

                
               
                <div class="widget">
                    <h3 class="mb-3">Geçmiş Gönderiler</h3>

                    
                    <div class="widget-post">
                        <a href="#">
                            <img class="img-fluid" src="./img/human.avif" alt="">DİLLERİN SOSYAL YAŞAMA ETKİSİ
                        </a>
                        <ul class="blog-meta">
                            <li>Mayıs 13, 2022</li>
                        </ul>
                    </div>
                    

                    <div class="widget-post">
                        <a href="#">
                            <img src="./img/proverbs.avif" alt="">100 kişiye 100 ATASÖZÜ
                        </a>
                        <ul class="blog-meta">
                            <li>Mayıs 20, 2022</li>
                        </ul>
                    </div>
                   


                    
                    <div class="widget-post">
                        <a href="#">
                            <img src="./img/sözlük.avif" alt="">TDK'ya yeni eklenen sözcükler...
                        </a>
                        <ul class="blog-meta">
                            <li>Mayıs 27, 2022</li>
                        </ul>
                    </div>
                   

                </div>
                

            </aside>



        </div>

    </div>
</section>